.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 300px;
  margin: 50px auto;
}

ol {
  list-style: none;
  counter-reset: section;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}

li:before {
  counter-increment: section;
  content: counter(section);
  display: block;
  border-radius: 100%;
  background: red;
  padding: 10px 15px;
  box-sizing: border-box;
  position: absolute;
  top: -20px;
  margin-left: -20px;
}

li:nth-child(1):before {
  left: 0%;
}
li:nth-child(2):before {
  left: 33.333%;
}
li:nth-child(3):before {
  left: 66.666%;
}
li:nth-child(4):before {
  left: 100%;
}
